.react-calendar {
  width: 1150px;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__label {
  flex-grow: 0 !important;
}
