/* ------------ Override FullCalendar styles  ------------ */

:root {
  --fc-bg-event-opacity: 0.7;
  --fc-button-text-color: #000;
  --fc-button-bg-color: transparent;
  --fc-button-border-color: transparent;
  --fc-button-hover-bg-color: transparent;
  --fc-button-hover-border-color: transparent;
  --fc-button-active-bg-color: transparent;
  --fc-button-active-border-color: transparent;
}

/* --- Toolbar Header --- */

.fc-toolbar-chunk>div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0rem;
  padding: 0.5rem 0;
}

.fc-toolbar.fc-header-toolbar, .fc-theme-standard th {
  background-color: #fbfdfe;
}

/* Toolbar Arrow Buttons */

.fc .fc-button-primary {
  padding: 0;
}

.fc .fc-button-primary:hover {
  color: #364253;
}

.fc .fc-button-primary:focus, .fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow: none;
}

/* Toolbar Title */

.fc .fc-toolbar-title {
  font-size: 14px;
  padding: 0 1rem;
  color: #364253;
  margin: 0;
}

.fc .fc-button .fc-icon {
  vertical-align: initial;
}

/* --- Day Header --- */

.fc .fc-scrollgrid {
  border: 0;
}

.fc-theme-standard th {
  border: none !important;
  border-bottom: 1px dashed #ddd !important;
  background-color: #fbfdfe;
}

.fc-theme-standard td {
  border: 1px dashed #ddd;
}

/* Week Days Header */

.fc .fc-col-header-cell-cushion {
  padding-top: 4px;
  padding-bottom: 4px;
}

/* --- Day Cell --- */

/* .fc .fc-day-other .fc-daygrid-day-top {
  opacity: 0;
} */

.fc .fc-daygrid-day-top {
  flex-direction: row;
}

.fc .fc-daygrid-day-number {
  color: #A2A2A2;
}

/* td.fc-daygrid-day.fc-day.fc-day-fri.fc-day-past .fc-daygrid-day-number {
  color: #fff !important;
} */

/* .tdClassName .fc-daygrid-day-number {
  color: #fff !important;
}
.otherclassname .fc-daygrid-day-number {
  color: #A2A2A2 !important;
} */

/* .fc-daygrid-day:has(> div.cellClass) {
  color: #fff !important;
} */

/* .cellClass {
  color: #FFF;
} */