@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
/* Global Styles */

:root {
  --white-color: #fbfdfe;
  --dark-color: #1a202e;
  --gray-color: #e5e5e5;
  --light-gray-color: #65758b;
  --dark-gray-color: #48566a;
  --blue-color: #1c64f2;
  --border-color: #d7d8da;
  --main-font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f3f4f6;
  color: #424d5d;
}

a {
  color: #48566a;
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* ------------ Utilities ------------ */

.container {
  max-width: 1150px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 24px;
}

/* Image */

.round-img {
  border-radius: 50%;
}

/* Border for test  */

.border {
  border: 1px solid red;
}

.b-bottom {
  border: 1px solid var(--border-color);
}

/* Background */

.bg-white {
  background-color: var(--white-color);
}

/* Text */

.text-center {
  text-align: center;
}

.text-muted {
  color: var(--light-gray-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-white {
  color: var(--white-color);
}

.text-blue {
  color: var(--blue-color);
}

.content-center {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* List */

.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */

.p {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.py {
  padding: 0.5rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

/* Margin */

.m {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my {
  margin: 0.5rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

/* ------------ NavBar ------------ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.5rem;
  width: 100%;
  background-color: var(--white-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--white-color);
  border: 1px solid red;
}

.header-logo {
  font-size: 18px;
  color: var(--dark-color);
  text-transform: uppercase;
}

.header-user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-user_info {
  margin-right: 16px;
  font-size: 16px;
}

.header-user_pic {
  display: flex;
}

/* ------------ Calendar ------------ */

.fullcalendar-container {
  background: var(--white-color);
  border-radius: 5px;
  border: 1px solid #e1e7ef;
  /* padding: ; */
}

/* Event Box */
.event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-text {
  color: #fff;
}
