@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

/* --------------- Global Styles --------------- */
:root {
  --white-color: #fbfdfe;
  --dark-color: #1a202e;
  --gray-color: #e5e5e5;
  --light-gray-color: #65758b;
  --dark-gray-color: #48566a;
  --blue-color: #1c64f2;
  --border-color: #d7d8da;
  --main-font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background-color: #f3f4f6;
  color: #424d5d;
}

a {
  color: var(--dark-gray-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* --------------- Utilities --------------- */
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--white-color);
  /* overflow: hidden; */
}

/* Image */
.round-img {
  border-radius: 50%;
}

.active {
  color: var(--blue-color);
}

/* Border for test  */
.border {
  border: 1px dashed #25a4eb;
}

.border-b {
  border-bottom: 1px solid var(--border-color);
}

/* Background */
.bg-white {
  background-color: var(--white-color);
}

/* Text Styles*/
.text-xxl {
  font-size: 36px;
  line-height: 1.2;
}

.text-xl {
  font-size: 20px;
  line-height: 1.2;
}

.text-l {
  font-size: 18px;
}

.text-m {
  font-size: 16px;
}

.text-n {
  font-size: 14px;
}

.text-s {
  font-size: 12px;
  line-height: 15px;
}

/* Text Color */

.text-muted {
  color: var(--light-gray-color);
}

.text-dark-gray {
  color: var(--dark-gray-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-white {
  color: var(--white-color);
}

.text-blue {
  color: var(--blue-color);
}

.text-center {
  text-align: center;
}

/* List */

.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */

.p {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.py {
  padding: 0.5rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.px {
  padding: 0 0.5rem;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 2rem;
}

.px-3 {
  padding: 0 3rem;
}

/* Margin */

.m {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my {
  margin: 0.5rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.mx {
  margin: 0 0.5rem;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

/* ------ jumbotron ------ */

.jumbotron {
  /* padding: 0.7rem 0 7rem; */
  padding: 7rem 0;
  background-color: #fff;
  /* margin-bottom: 2rem; */
}

.navbar {
  width: 100%;
  /* padding: 0.7rem 0 7rem; */
  /* margin-bottom: 5.8rem; */
  padding: 0.7rem 0;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
}

.nav-item {
  display: list-item;
  margin-right: 40px;
  font-weight: 600;
}

.nav-item a:hover {
  color: var(--blue-color);
}

/* ------ Events ------ */
.events-container {
  padding: 1.5rem;
  border: 1px solid #f1f5f9;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  z-index: 2;
  margin-top: -4rem;
}

/* Mobile Styles */
@media (max-width: 720px) {
  .hide-sm {
    display: none;
  }

  /* NavBar */
  .navbar {
    display: block;
    text-align: center;
  }

  .nav-list {
    justify-content: center;
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 1rem;
  }

  /*
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }
*/
}
